h1, h2, h3, span {
  margin: 0;
}
h1 {
  font-size: 16rem;
}
h2{
  font-size: 3rem;
  text-align: center;
}
h3{
  font-size: 1.4rem;
}
span{
  font-size: 7rem;
}
.container {
  max-width: 550px;
  
  display: grid; 
  grid-template-rows: 20% 80%;

  padding: 25px 5px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.degrees{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-left: 2rem;
}
.submit{
  margin-left: auto;
  margin-right: auto;
  align-self: center;

}